/* ================================================ basic CSS ======================================= */
html {
  font-size: 62.5%;
}

* {
  box-sizing: content-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* ================================================ common ======================================= */
