/* ================================================ basic CSS ======================================= */
html {
  font-size: 62.5%;
}

* {
  box-sizing: content-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* ================================================ common ======================================= */

:root {
  --primary-color: #fa4a0c;
}

.main-content {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.head-lv2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.head-lv3 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #f6f6f6;
}

.btn {
  width: 236px;
  height: 68px;
  border-radius: 30px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.desc {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
}

/* ================================================ header ======================================= */
.header {
  background-color: rgb(255, 255, 255);
  height: 156px;
}

.header.fixed {
  position: sticky;
  top: -10px;
  z-index: 1;
}

.header .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 246px;
  height: 102px;
  margin: 26px 0px 28px 70px;
  padding-right: 20px;
  padding-left: 20px;
  object-fit: cover;
}

/* ================================================ navigation ======================================= */
.header .nav {
  /* border: 1px solid rgb(27, 61, 100); */
  margin: 53px 40px 55px 0px;
}
.header .nav ul {
  display: flex;
  width: 580px;
  height: 48px;
  top: 53px;
  left: 820px;
  gap: 77px;
  justify-content: center;
  align-items: center;
}

.header .nav a {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.header .nav a:hover,
.header a.active {
  color: #fa4a0c;
}
.header a.active {
  cursor: default;
}

/* ================================================ hero 1 ======================================= */

.hero-1 {
  width: 1440px;
  height: 619px;
  top: -1px;
  background-image: url(../img/background-hero-1.png);
  margin: 0 auto;
}

.hero-1 .info {
  display: flex;
  padding: 72px 217.5px 220px;
  flex-direction: column;
}

.hero-1 .info .head-lv3 {
  margin: 0 auto 7px;
}

.hero-1 .info .head {
  margin: 0 auto 17px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 80px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}

.hero-1 .desc {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 38px;
  letter-spacing: 0.2px;
  margin: 0px auto 6px;
  color: #f6f6f6;
  width: 728px;
  height: 96px;
  text-align: center;
}

.hero-1 .action {
  display: flex;
  margin: 0 auto 0px;
}
.hero-1 .action .btn-playstore {
  background-color: var(--primary-color);
  margin-right: 34px;
  cursor: default;
}
.hero-1 .action .btn-appstore {
  background-color: transparent;
  border: 1px solid #fff;
}

.hero-1 .action .btn-appstore:hover {
  background-color: var(--primary-color);
  border: none;
}

/* ================================================ mobile content ======================================= */
/* .mobile-content {

} */

.mobile-content .mobile-item {
  /* background-color: aqua; */
  position: relative;
  display: flex;
  flex-direction: column;
}

.mobile-content .item1 {
  position: absolute;
  top: -272px;
  left: 272px;
}

.mobile-content .item2 {
  position: absolute;
  top: -100px;
  left: 625px;
}

.mobile-content .mobile-item hr {
  width: 884px;
  height: 0px;
  top: 1378.91px;
  left: 278px;
  border-width: 3px;
  margin-top: 500px;
}

.mobile-content .mobile-item .desc-mobile {
  font-weight: 600;
  font-size: 4.4rem;
  line-height: 36px;
  letter-spacing: 0.1px;
  text-align: center;
  margin-top: 59px;
}

/* ================================================ create account ! ======================================= */
.create-account {
  background-color: #fff;
  margin-top: 59px;
}

.create-account .body {
  width: 1641px;
  height: 507px;
  background-color: #fff;
  margin-top: -185px;
  padding: 150px 0px 150px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.create-account .info {
  width: 568px;
  height: 280px;
  margin-left: 170px;
}
.create-account .body .image-cac {
  width: 302px;
  height: 525px;
  object-fit: cover;
  margin: 78px 0px 83px 245px;
}

.create-account .info .head-lv3 {
  color: var(--primary-color);
  margin-bottom: 7px;
}
.create-account .info .head-lv2 {
  margin-bottom: 7px;
}

/* ================================================ Explore varieties  ======================================= */

.explore {
  background-color: #ffffff;
}

.explore .body {
  /* margin-bottom: ; */
  width: 1641px;
  height: 507px;
  background-color: #ffffff;
  padding: 150px 0px 150px;
  margin-top: -185px;
  display: flex;
  /* justify-content: center; */
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.explore .info {
  width: 568px;
  height: 280px;
  margin: 88px 0px 140px 254px;
}
.explore .body .image-explore {
  width: 302px;
  height: 525px;
  object-fit: cover;
  margin: 78px 232px 185px 100px;
}

.explore .info .head-lv3 {
  color: var(--primary-color);
  margin-bottom: 7px;
}
.explore .info .head-lv2 {
  margin-bottom: 7px;
}
.explore .info .desc {
}

/* ================================================ Checkout  ======================================= */
.create-checkout {
  background-color: #fff;
  margin-top: 59px;
}

.create-checkout .body {
  width: 1641px;
  height: 507px;
  background-color: #fff;
  margin-top: -300px;
  padding: 150px 0px 150px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.create-checkout .info {
  width: 568px;
  height: 280px;
  margin-left: 170px;
}
.create-checkout .body .image-cac {
  width: 302px;
  height: 525px;
  object-fit: cover;
  margin: 78px 0px 83px 245px;
}

.create-checkout .info .head-lv3 {
  color: var(--primary-color);
  margin-bottom: 7px;
}
.create-checkout .info .head-lv2 {
  margin-bottom: 7px;
}

/* ================================================ Call_To_Action  ======================================= */
.create-call-to-action {
  background-color: #252b42;
  height: 516px;
  /* top: -5.9px; */
}

.create-call-to-action .body {
  background-image: url(../img/img-call-to-action.png);
  height: 100%;
  width: 1440px;
  margin: 0 auto;
  object-fit: cover;
}

.create-call-to-action .info {
  padding-top: 130px;
  margin-bottom: 50px;
}
.create-call-to-action .info .head-lv2 {
  color: #fff;
  text-align: center;
}
.create-call-to-action .info .desc-cta {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 38px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}

.create-call-to-action .body .btn-cta-playstore {
  background-color: var(--primary-color);
  width: 142px;
  height: 64px;
  border-radius: 10px;
  margin-right: 16px;
  font-size: 1.6rem;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.create-call-to-action .body .btn-cta-appstore {
  width: 173px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 1.6rem;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.create-call-to-action .body .btn-cta-appstore:hover {
  background-color: var(--primary-color);
  border: none;
}

.create-call-to-action .btn-cta {
  text-align: center;
}

/* ================================================ footer  ======================================= */

.content-footer {
  background-color: #ffffff;
}

.content-footer .body {
  display: flex;
  width: 1210px;
  height: 133px;
  background-color: #fff8f5;
  margin: 0 auto;
  padding: 38px 115px 53px;
  justify-content: space-evenly;
  align-items: center;
}

.content-footer .list-social ul {
  display: flex;
  width: 171px;
  height: 41px;
  gap: 24px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.content-footer .desc-footer {
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 18px;
  letter-spacing: 0.1px;
  text-align: right;
  color: #5c5c5c;
}
